body {
    margin: 0px;
    padding: 0px;
    background-color: slategrey;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 10px 20px;
}

header {
    background-color: hsla(248, 53%, 58%, 0.3);
    padding: 10px;
    box-shadow: 2px 3px 10px black;
    color: rgb(208, 219, 226);
    text-shadow: 1px 2px 2px black;
}

nav {
    height: 25px;
    width: 100%;
    text-align: center;
}

nav ul {
    margin: 10px;
    padding: 5px;
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 5em;
}

nav ul li:hover {
    color: black;
}

h1 {
    padding: 10px 15px;
    text-align: center;
}

h4 {
    margin: 5px;
    font-size: 18px;
}

li {
    padding: 0px;
    margin: 0px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    border-radius: 3px; 
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

.questions {
    background-color: darkgrey;
    border-radius: 3px;
    width: auto;
    padding: 5px 10px;
    color: rgb(187, 25, 25);
}

.command {
    font-family: monospace;
}

.bullet-description {
    padding: 0px 5px 5px 0px;
    margin: 0px;
    font-size: small;
}

.elaborate {
    background-color: rgb(29, 32, 32);
    color: whitesmoke;
    border-radius: 3px;
    padding: 3px;
}